header{
    div{
        padding: 10px;
        margin: 0px;
        border-bottom: 2px white solid;
        text-align: center;
        font-size: 250%;
        color: rgba(66,4,126,1);
    }
}