html{
    //height: 100%;
    font-family: 'Lora', serif;
    background: rgb(7,244,158);
    background: linear-gradient(0deg, rgba(66,4,126,1) 0%, rgba(7,244,158,1) 100%); 

    body{
        margin: 0;
        padding: 0;
    }
}